/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#header { height: 4em; padding-top: 1em; text-align: center;
  background: #993120; color: #FFFFFF; }
#header h1 { margin: 0; padding: 0; }
#background {min-height:800px; margin: 10;
    position: absolute;width:570px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
background-image: image-url("<%= asset_path(pamplete.png)%>");
}

#main { min-height: 500px; background: #7F4AFA; }
#navigation { float: left; width: 180px; min-height: 480px; padding: 10px;
  background: #94B26F; color: #4C2516; }
#content { padding: 10px; background: #333333; color:#9E9E9E;}
#footer { clear: both; height:  2.5em; text-align: right;
  background: #4C2516 repeat-y 0 0; color: #F2DC87; }
#footer p { margin: 0; padding: 0.5em 1em; }