<!DOCTYPE html>
<html>
<head>
  <title>ebharari | Software training division of Bharari Software Labs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="content">
<%= yield %>
</div>
<div id="background"/>
 </body>
</html>
